{% extends 'base.html.twig' %}

{% block title %}Url Short{% endblock %}

{% block body %}
    Select what you want:
    <a href="{{ path('_encode_page') }}">Encode Url</a>
    <a href="{{ path('_decode_page') }}">Decode Url</a>
    {% if app.user %}
        <a href="{{ path('_all_urls') }}">All Urls</a>
    {% endif %}
    <br>
    //TODO make dropdown list for select code from available codes
{% endblock %}