{% extends 'base.html.twig' %}

{% block title %}Url Short{% endblock %}

{% block body %}
    {% if app.user %}
        Select what you want:
        <a href="{{ path('_encode_page') }}">Encode Url</a>
        <a href="{{ path('_decode_page') }}">Decode Url</a>
        <a href="{{ path('_all_urls') }}">All Urls</a>
    {% endif %}
    <br>
{% endblock %}